.tcal-header-modechanger, .tcal-more-func-btn{
	float: right;
	margin-right: 20px;
}

.tcal-header-modechanger span.ui-button-text{
	min-width:50px;
}

.tcal-header > .ui-menu{
	position:absolute;
	width:100px;
	z-index: 500;
}

.tcal-grid{
	margin: 0px 10px 2px;
	/*border: 1px solid #dedede;*/
	box-sizing: border-box;
	padding:0px 1px;
	overflow: hidden;
	width:100%;
}

.tcal-header > .ui-menu{
	text-align:right;
	font-size: 10pt;
	font-family: Arial, Verdana;
	font-weight: normal;
}



.tcal-header > .ui-menu > li{
	padding: 5px;
}

.tcal-next-btn, .tcal-prev-btn{
	float:left;
	margin-left:15px;
}

.tcal-prev-btn +.tcal-next-btn{
	margin-left:0px;
}

.tcal-today-btn{
	float:left;
	margin-left: 20px;
}

.tcal-header{
	text-align:center;
	position:relative;
	box-sizing: border-box;
	padding: 5px;
}
.tcal-clearer{
	clear:both;
}

.tcal-header-title-container{
	display:inline-block;
	float:left;
	margin-left: 20px;
}

.tcal-header-primary-title, .tcal-header-secondary-title{
	font-size: 21px;
	font-weight: normal;
	display:inline-block;
	font-family: Arial, Verdana;
}

.tcal-header-primary-title + .tcal-header-secondary-title{
	margin-left: 7px;
}

.tcal-header-modechanger{
	margin-right: 20px;
}

.tcal-header-morefunc{
	margin-right:20px;
}

.tcal-header-ext{
	margin: 2px 10px 0px;
	padding: 1px 2px;
	box-sizing: border-box;
}

.tcal-grid-week-scrollpanel, .tcal-grid-day-scrollpanel{
	position:relative;
}

.tcal-header-ext .tcal-month-week-cell, .tcal-week-header-cell, .tcal-week-allday-cell, .tcal-day-header-cell, .tcal-day-allday-cell{
	float:left;
    box-sizing: border-box;
    display: inline-block;
/*    margin: 0 -1px; */
    font-family: Arial, Verdana;
    font-size: 12px;
    padding-left: 5px;
}

.tcal-week-header-cell-date{
	margin-left: 5px;
}

#ui-datepicker-div, .ui-button { 
	font-size:10px; 
}

.tcal-today-field{
	float:left;
}

.tcal-month-day-cell, .tcal-week-halfhour-cell, .tcal-week-allday-cell, .tcal-week-label-cell, .tcal-day-halfhour-cell, .tcal-day-allday-cell, .tcal-day-label-cell{
	background-image: url("images/day-cell.png");
	background-repeat:repeat-y;
	background-color: #fff;
	background-size: 100% 3px;
/*	width: 14.413%; */
/*	height: 20%; */
	float:left;
	display:inline-block;
	border:1px solid #dedede;
	border-left:none;
	border-right:none;
	box-sizing:border-box;
/*	margin: 0px -1px; */
	overflow: visible;
	opcaity: .99;
}

.tcal-grid-week-alldaypanel, .tcal-grid-day-alldaypanel{
	z-index: 3;
	background:white;
}

.tcal-grid-week-content{
	position:relative;
	z-index: 1;
}

.tcal-month-today.tcal-month-day-cell{
	background-color: #E0FFFF;
}

.tcal-month-day-cell > .tcal-month-day-cell-header{
	/*background-color: #ccc;*/
	text-align:left;
	box-sizing:border-box;
	height:20px;
}

.tcal-header *:last-child{
	clear:both;
}

.tcal-month-day-cell:last-child:after{
	clear:both;
}

.tcal-month-day-cell-header-day{
	font-size: 12px;
	font-family: Arial, Verdana;
	padding: 5px;
}

.tcal-month-different-month .tcal-month-day-cell-header-day{
	color: #bbb;
}
.tcal-month-agenda, .tcal-week-allday-agenda, .tcal-week-agenda, .tcal-day-allday-agenda, .tcal-day-agenda{
	height: 20%;
	min-height: 20px;
	max-height: 24px;
	float:left;
	margin:2px 2px 0px 2px;
	box-sizing: border-box;
	text-align:center;
	border-radius: 5px;
	position: relative;
	z-index:4;
}

.tcal-month-agenda-actual, .tcal-week-allday-actual, .tcal-day-allday-actual{
	background-image: url("images/month-agenda-spirit.png");
	background-size: auto 100%;
	background-repeast: repeat-x;
	text-align:center;
	z-index: 5;
	position:relative;
	cursor: pointer;
	border-sizing: box-border;
}

.tcal-week-halfhour-cell .tcal-week-agenda-actual, .tcal-day-halfhour-cell .tcal-day-agenda-actual{
	z-index: 1;
}

.tcal-week-agenda-actual, .tcal-day-agenda-actual{
	text-align:center;
	z-index: 5;
	position:relative;
	cursor: pointer;
	border-sizing: box-border;
	max-height: none;
}

.tcal-month-agenda-title, .tcal-week-agenda-title, .tcal-day-agenda-title{
	font-size: 12px;
	font-family: Arial, Verdana;
	padding:2px;
	display:inline-block;
}

.tcal-month-agenda-continue-container{
	background:white;
	float:left;
	display:inline-block;
	margin:2px;
	box-sizing: border-box;
    float: left;
    font-size: 14px;
    line-height: 16px;
    margin: 2px;
    min-height: 16px;
    min-width: 16px;
}

.tcal-month-agenda-continue:after{
 	border-bottom: 5px solid transparent;
    border-right: 9px solid #87CEFA;
    border-top: 5px solid transparent;
    content: " ";
    display: inline-block;
    height: 0;
}

.tcal-month-today .tcal-month-day-cell-header-day:after, .tcal-week-header-cell .tcal-week-today:after, .tcal-day-header-cell .tcal-day-today:after{
 	border-bottom: 5px solid transparent;
    border-right: 9px solid red;
    border-top: 5px solid transparent;
    content: " ";
    display: inline-block;
    height: 0;
}

.tcal-week-halfhour-cell, .tcal-week-allday-cell, .tcal-week-label-cell, .tcal-day-halfhour-cell, .tcal-day-allday-cell, .tcal-day-label-cell{
	background: none transparent;
}

.tcal-week-halfhour-cell, .tcal-week-allday-cell, .tcal-week-label-cell, .tcal-day-halfhour-cell, .tcal-day-label-cell{
	border-right: 1px solid #dedede;
}

.tcal-week-label-cell, .tcal-day-label-cell{
	text-align: right;
	padding-right: 5px;
}

.tcal-week-label-text, .tcal-day-label-text{
	font-family: Arial, Verdana;
	font-size: 12px;
}

.tcal-week-allday-cell, .tcal-day-allday-cell{
	padding-left: 0px;
}

.tcal-week-halfhour-allday, .tcal-day-halfhour-allday{
	background-color: #FFE4E1;
}

.tcal-week-agenda-allday-start-time, .tcal-day-agenda-allday-start-time{
	font-family: Arial, Verdana;
	font-size: 12px;
	float:left;
	margin: 5px;
}

.tcal-week-agenda-allday-end-time, .tcal-day-agenda-allday-end-time{
	font-family: Arial, Verdana;
	font-size: 12px;
	float:right;
	margin: 5px;
}

.tcal-week-not-start-here:before, .tcal-day-not-start-here:before{
 	border-bottom: 5px solid transparent;
    border-right: 9px solid #333;
    border-top: 5px solid transparent;
    content: " ";
    display: inline-block;
    height: 0;
}

.tcal-week-not-end-here:after, .tcal-day-not-end-here:after{
 	border-bottom: 5px solid transparent;
    border-left: 9px solid #333;
    border-top: 5px solid transparent;
    content: " ";
    display: inline-block;
    height: 0;
}